body {
    margin: 0 auto;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bandeau {
    padding-top: 10px;
    background-color: white;
    height: 40px;
    flex-direction: row;
    

}

.txtBandeau em{
    background-color: red;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    border: 0px;
    font-size: 10px;
    padding: 5px;
    font-style: normal;
}
.txtBandeau button{
    border: 0;
    margin-left:20px ;
    color: #0071EB;
    background-color: white;
    font-weight: bold;
}

.fond {

    background-image:url("images/NetflixWeb/fond.png") ;
    display: block;
    background-size: cover; 
    background-position: center;     
    color: white;
    width: 100%;
    height: 300px; 
    flex:1;
    margin-bottom: 10px;
    
  }

  .titres{
    margin-top: 150px;
  }
  .Email{
    color: white;
    Flex : 1;
    height: 480px ;
  }

    
.Top{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: 1%;
}
.logo, button { 
    margin-top: 0;
    padding: 5px;
}

  .button{
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo{
    padding: 10px;
}

  #signIN{
    margin-left: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 70px;
    height: 30px;
    padding: 5px;
    margin-right: 50px;
    margin-left: -8px;
    margin: 0 10px 0 10px;
  }

  #English{
    color: white;
    border: 2px solid #666;
    border-radius: 5px;
    background-color: black;
    align-content: center;
    border-color: 666;
    width: 70px;
    height: 30px;
    padding: 5px;
    margin: 0 10px 0 10px;
  }


.BarreEmail button{
    height: 45.5px;
    width: 200px;
    background-color: red;
    color: white;
    align-content: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 0px;
}

.BarreEmail input{
    margin-right: -5px;
    width: 350px;
    height: 40px;
    padding-left: 10px;
  
}

.Bloc {
    color: white;
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
    

}
.DivText{
    
   
    margin: 0 10px;
  
    max-width: 30%;
    
   
}

.DivText p , .DivText h2{
  text-align: left;
  margin-left: 100px;
}

.DivText p{
  font-size: 20px;
}

.DivText h2{
  font-size: 27px;
}

footer{
  margin: 0 auto;
  text-align: left;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ContactUs{
  margin: 0 auto;
  
}

.question{
  color: #666;
 
}

ul{
  padding: 0;

}
li{
  padding: 2px;
}
.list-container {


  align-items: left;
  flex-direction: row;
  justify-content: left;
  display: flex;

}

.listColonne  {
  list-style: none;
  font-size: 20px;
  padding-right: 80px;
  margin: 0 auto;
}

.listColonne a {
  text-decoration: none;
  cursor: default; 
  color: #666;
}





